h1 {
    color:orange
}
#form {
    height: 300px;
    padding-left: 5%;
    border: 1px solid black;
    width: 19%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#submit {
    background-color:tomato;
}
#navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    height: 60px;
    margin-bottom: 50px;
}

#right {
    display: flex;
    gap: 20px;
    padding-right: 50px;
}